.carousel-item{

  height:750px;

}

#Slide-one{
  position: absolute;
  top: 25%;
}

#Slide-two{
  position: absolute;
  top: 25%;
}

#Slide-three{
  position: absolute;
  top: 25%;
}

#Slide-four{
  position: absolute;
  top: 25%;
}

#Slide-five{
  position: absolute;
  top: 25%;
}

#Slide-one h1{
  font-size: 4rem;
  padding-bottom: 45px;
  color: black;
}

#Slide-two h1{
  font-size: 4rem;
  padding-bottom: 45px;
  color: black;
}

#Slide-three h1{
  font-size: 4rem;
  padding-bottom: 45px;
  color: black;
}

#Slide-four h1{
  font-size: 4rem;
  padding-bottom: 45px;
  color: black;
}

#Slide-five h1{
  font-size: 4rem;
  padding-bottom: 45px;
  color: black;
}

p{
  font-size: 2rem;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
}

.header{
  background-image: linear-gradient(to left,rgba(58, 83, 155, 1), rgba(137, 196, 244, 1));
  height: 95px;
  margin-bottom: 0px;
}

.header-title{
  font-size: 2rem;
  /* top :18px; */
  position: relative;
  padding-top: 20px;
  /* left: 50px; */
  font-weight: 400;
  font-family: "Merriweather";
  margin-top: 5px;

}

.header img{
  float: left;
  height: 90px;
  padding-right: 25px;
  margin-left: 15px;
margin-top: 3px;
}

hr.colored {
  margin-top: 0px;
  border: 0;   /* in order to override TWBS stylesheet */
  height: 7px;
  background: -webkit-linear-gradient(left, rgba(196,222,138,1) 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%); /*
  Chrome10+,Safari5.1+ */
  margin-bottom: 0px;

}
